.btn-openModal {
  background: #2c2c2c;
  color: #eee;
  font-size: 1rem;
  margin: 2rem;
  padding: .5rem 1.8rem;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 2px ;
}

.Modal-header {
  padding: 10px;
  margin-bottom: 20px;
  
  .close {
    margin-left: 10px;
  }
}

.modal-wrapper {
  background: #fff;
  width: 80%;
  max-width: 800px;
  margin: 4rem auto;
  transition: all .5s ease;
  border-radius: .5rem;
}

.minimize-icon {
  width: 1.5rem;
  height: .3rem;
  background-color: #ccc;
  cursor: pointer;
  
  &:hover {
    color: #BABABA;
  }
}

.modal-wrapper-minimized {
  background-color: #fff;
  width: 20px;
  max-width: 800px;
  margin-bottom: 1px;
  transition: all .5s ease;
  height: 10px;
  bottom: 0;
  left: 0;
}

.back-drop {
  background: rgba(63, 61, 61, 0.692);
  height: 100%;
  position: fixed;
  transition: all 1.3s;
  width: 100%;
}

.back-drop-none {
  background: white;
  height: 100%;
  position: relative;
  transition: all 1.3s;
  width: 100%;
}

.close-modal-btn {
  font-size: 18px;
  color: #ccc;
  cursor: pointer;
  
  &:hover {
    color: #BABABA;
  }
}